<mat-toolbar>
  <div  fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <img class="logo-image" src="../assets/car-logo.png" alt="car-logo">
    <span class="main-title">CARRENT</span>
    <!-- <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px"> -->
      <span class="menu-title">Home</span>
      <span class="menu-title">Catalogue</span>
      <span class="menu-title">Page</span>
    <!-- </div> -->
  </div>
</mat-toolbar>

<div class="d-flex">
  <div class="p-2 flex-grow-1">Flex item</div>
  <div class="p-2">Flex item</div>
  <div class="p-2">Third flex item</div>
</div>
<button type="button" class="btn btn-warning" mdbRippleRadius>Warning</button>